In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [2]:
user_item_data=pd.read_csv("../data/ML_User_Item_Data.csv")

In [3]:
user_metadata=pd.read_csv("../data/user_metadata.csv")
user_metadata

        userId                                        user_tags
0            1               imdb top 250|criterion|melancholic
1            3     imdb top 250|great acting|visually appealing
2            4         imdb top 250|original|visually appealing
3            5                 great acting|imdb top 250|mentor
4            7         cinematography|melancholic|relationships
...        ...                                              ...
162535   12983        adapted from:book|adolescence|bittersweet
162536   76200                  berlin|cinematography|enigmatic
162537  122860  foreign|iran|oscar (best foreign language film)
162538   18247                    original|good|good soundtrack
162539   16557                 original|drama|social commentary

[162540 rows x 2 columns]

In [4]:
movie_metadata=pd.read_csv("../data/movie_metadata.csv")
movie_metadata

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,animated|animation|cartoon|childhood|children|...
1,2,Jumanji (1995),Adventure|Children|Fantasy,adventure|animals|based on a book|big budget|c...
2,3,Grumpier Old Men (1995),Comedy|Romance,comedy|crappy sequel|destiny|fun movie|good|go...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,adultery|chick flick|divorce|drinking|feel-goo...
4,5,Father of the Bride Part II (1995),Comedy,comedy|family|father daughter relationship|fee...
...,...,...,...,...
13811,205072,Zombieland: Double Tap (2019),Action|Comedy|Horror,based on book|based on true story|clever|dumb ...
13812,205076,Downton Abbey (2019),Drama,aardman studios|brutality|clever|feel-good|gir...
13813,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,chase|clever|corruption|crime|drama|good sound...
13814,205425,Dave Chappelle: Sticks & Stones (2019),Comedy,clever|comedy|complex|cult classic|dialogue|dr...
13815,206499,Between Two Ferns: The Movie (2019),Comedy,comedy|crude humor|goofy|great ending|justice|...

In [5]:
user_item_data

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [6]:
watched_movies=set(user_item_data.item_id.unique())

In [7]:
all_movies=set(movie_metadata.movieId.unique())

In [8]:
watched_movies-all_movies

{51,
 91,
 109,
 130,
 133,
 134,
 139,
 142,
 143,
 221,
 226,
 284,
 291,
 323,
 395,
 396,
 399,
 400,
 401,
 403,
 530,
 545,
 557,
 560,
 572,
 576,
 578,
 579,
 584,
 591,
 604,
 607,
 620,
 622,
 623,
 624,
 625,
 629,
 636,
 642,
 643,
 644,
 646,
 654,
 655,
 657,
 669,
 672,
 675,
 676,
 677,
 683,
 684,
 686,
 689,
 693,
 699,
 721,
 723,
 727,
 738,
 739,
 740,
 744,
 749,
 752,
 758,
 768,
 770,
 772,
 774,
 777,
 796,
 811,
 812,
 814,
 815,
 817,
 822,
 825,
 826,
 855,
 859,
 863,
 873,
 878,
 883,
 888,
 890,
 894,
 975,
 977,
 978,
 983,
 995,
 1001,
 1048,
 1052,
 1064,
 1065,
 1072,
 1074,
 1106,
 1108,
 1109,
 1110,
 1115,
 1118,
 1122,
 1139,
 1140,
 1141,
 1146,
 1155,
 1157,
 1158,
 1159,
 1160,
 1165,
 1166,
 1182,
 1195,
 1205,
 1229,
 1239,
 1294,
 1308,
 1309,
 1316,
 1319,
 1338,
 1362,
 1368,
 1386,
 1400,
 1402,
 1403,
 1418,
 1424,
 1435,
 1443,
 1451,
 1452,
 1462,
 1467,
 1469,
 1478,
 1481,
 1491,
 1492,
 1494,
 1505,
 1506,
 1510,
 1512,
 1521,
 1522,
 1524,
 1528,
 1530,
 1536,
 1540,
 1548,
 1553,
 1557,
 1558,
 1559,
 1560,
 1561,
 1568,
 1576,
 1577,
 1578,
 1579,
 1607,
 1618,
 1630,
 1634,
 1637,
 1638}

In [9]:
user_metadata

        userId                                        user_tags
0            1               imdb top 250|criterion|melancholic
1            3     imdb top 250|great acting|visually appealing
2            4         imdb top 250|original|visually appealing
3            5                 great acting|imdb top 250|mentor
4            7         cinematography|melancholic|relationships
...        ...                                              ...
162535   12983        adapted from:book|adolescence|bittersweet
162536   76200                  berlin|cinematography|enigmatic
162537  122860  foreign|iran|oscar (best foreign language film)
162538   18247                    original|good|good soundtrack
162539   16557                 original|drama|social commentary

[162540 rows x 2 columns]

In [10]:
user_item_data=user_item_data.merge(movie_metadata,left_on="item_id",right_on="movieId")
user_item_data=user_item_data.merge(user_metadata,left_on="user_id",right_on="userId")

In [11]:
user_item_data.to_csv("../data/Master_dataset.csv",index=False)

In [12]:
user_item_data=user_item_data[["user_tags","tag","rating"]]

In [13]:
user_item_data.isna().sum()

user_tags    275
tag            0
rating         0
dtype: int64

In [14]:
user_item_data.dropna(inplace=True)

In [15]:
user_item_data.isna().sum()

user_tags    0
tag          0
rating       0
dtype: int64

In [16]:
user_item_data["user_tags"]=user_item_data["user_tags"].apply(lambda x: x.replace("|"," "))
user_item_data["tag"]=user_item_data["tag"].apply(lambda x: x.replace("|"," "))

In [17]:
train,test=train_test_split(user_item_data,test_size=0.35)
test,validation=train_test_split(user_item_data,test_size=0.5)

In [18]:
train.to_csv("../input/train_user_item.csv",index=False)
test.to_csv("../input/test_user_item.csv",index=False)
validation.to_csv("../input/validation_user_item.csv",index=False)