In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
interaction=pd.read_csv("../data/ratings.csv")
content=pd.read_csv("../data/movies.csv")
tag_scores=pd.read_csv("../data/genome-scores.csv")

In [3]:
tag_scores

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [4]:
tags=pd.read_csv("../data/genome-tags.csv")

In [5]:
tag_scores=tag_scores.merge(tags)

In [6]:
tag_data=tag_scores.sort_values(by=["movieId","relevance"],ascending=False)

In [7]:
tag_data

          movieId  tagId  relevance              tag
10251471   206499    742    0.88600         original
10735031   206499    777    0.80825            pg-13
8331047    206499    603    0.76725            light
11812679   206499    855    0.75850        road trip
11066615   206499    801    0.74475      pornography
...           ...    ...        ...              ...
1630288         1    119    0.00375          beatles
13470600        1    976    0.00325    studio ghibli
6742208         1    489    0.00275  hannibal lecter
13829816        1   1002    0.00275          swedish
14755488        1   1069    0.00275         vampires

[15584448 rows x 4 columns]

In [8]:
top_tags=tag_data.groupby("movieId").head(16)

In [9]:
movies=top_tags.movieId.unique()
d=[]
for i in movies:
    tags_for_movie=sorted(top_tags[top_tags["movieId"]==i]["tag"].unique())
    movie_tag="|".join(tags_for_movie)
    d.append([i,movie_tag])

In [10]:
movie_metadata=pd.DataFrame(d,columns=["movieId","tag"])

In [11]:
content.merge(movie_metadata).to_csv("../data/movie_metadata.csv",index=False)

In [12]:
df=pd.read_csv("../data/movie_metadata.csv")

In [13]:
df

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,animated|animation|cartoon|childhood|children|...
1,2,Jumanji (1995),Adventure|Children|Fantasy,adventure|animals|based on a book|big budget|c...
2,3,Grumpier Old Men (1995),Comedy|Romance,comedy|crappy sequel|destiny|fun movie|good|go...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,adultery|chick flick|divorce|drinking|feel-goo...
4,5,Father of the Bride Part II (1995),Comedy,comedy|family|father daughter relationship|fee...
...,...,...,...,...
13811,205072,Zombieland: Double Tap (2019),Action|Comedy|Horror,based on book|based on true story|clever|dumb ...
13812,205076,Downton Abbey (2019),Drama,aardman studios|brutality|clever|feel-good|gir...
13813,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,chase|clever|corruption|crime|drama|good sound...
13814,205425,Dave Chappelle: Sticks & Stones (2019),Comedy,clever|comedy|complex|cult classic|dialogue|dr...
13815,206499,Between Two Ferns: The Movie (2019),Comedy,comedy|crude humor|goofy|great ending|justice|...

In [14]:
interaction

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [17]:
UID_extra=interaction.merge(movie_metadata)
UID_extra.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
tag          0
dtype: int64

In [23]:
UID_extra[(UID_extra["userId"]==1)&(UID_extra["rating"]>=4)]

,userId,movieId,rating,timestamp,tag
0,1,296,5.0,1147880044,bloody|crime gone awry|dark humor|gangsters|go...
86730,1,307,5.0,1147868828,cinematography|criterion|death|enigmatic|forei...
93346,1,665,5.0,1147878820,allegory|criterion|drama|foreign|golden palm|h...
105510,1,1088,4.0,1147868495,chick flick|coming of age|dance|dancing|family...
129966,1,1237,5.0,1147868839,afterlife|allegory|bleak|chess|criterion|death...
135029,1,1250,4.0,1147868414,best war films|british|camp|courage|epic|force...
152299,1,1653,4.0,1147868097,distopia|dystopia|dystopic future|future|futur...
231552,1,2351,4.5,1147877957,bittersweet|bleak|compassionate|criterion|fore...
232842,1,2573,4.0,1147878923,argentina|art|artist|artistic|creativity|dance...
233139,1,2632,5.0,1147878248,18th century|art house|based on a book|black a...
233297,1,2692,5.0,1147869100,alternate endings|alternate reality|artistic|c...
252188,1,2843,4.5,1147868891,absurd|beautifully filmed|colourful|comedy|dar...
253774,1,3448,4.0,1147868480,based on a true story|best war films|censorshi...
265938,1,3569,5.0,1147879603,art house|censorship|controversial|disability|...
266883,1,3949,5.0,1147868678,addiction|bleak|depressing|dreams|drug abuse|d...
288949,1,4144,5.0,1147868898,adultery|cinematography|criterion|enigmatic|go...
306012,1,4325,5.0,1147878122,adultery|black and white|criterion|enigmatic|e...
307131,1,4703,4.0,1147869223,africa|beautifully filmed|childhood|colonialis...
308759,1,4973,4.5,1147869080,beautifully filmed|destiny|feel good movie|fee...
343079,1,5147,4.0,1147877654,aging|cerebral|cinematography|criterion|dreams...
346525,1,5767,5.0,1147878729,censorship|comedy|communism|criterion|foreign|...
346608,1,5878,4.0,1147868807,almodovar|drama|foreign|friendship|imdb top 25...
350481,1,5952,4.0,1147868053,adapted from:book|awesome soundtrack|big budge...
401619,1,6016,5.0,1147869090,amazing cinematography|amazing photography|bru...
421513,1,6370,4.5,1147869191,foreign|france|french|friendship|fun movie|lif...
422733,1,6377,4.0,1147868469,animated|animation|cartoon|children|computer a...
494672,1,6711,5.0,1147868622,bittersweet|cinematography|culture clash|forei...
516162,1,7209,4.0,1147877986,affectionate|comedy|criterion|enigmatic|france...
516748,1,7234,4.5,1147868869,amazing cinematography|black and white|bleak|c...
529695,1,7361,5.0,1147880055,bittersweet|cerebral|complex|complicated|imagi...
562920,1,7365,4.0,1147869033,allegory|bleak|cinematography|criterion|depres...
565192,1,7940,4.5,1147877967,allegory|artist|bleak|cerebral|cinematography|...
567528,1,8154,5.0,1147868865,criterion|cynical|enigmatic|existentialism|gol...
569215,1,8327,5.0,1147879375,amazing photography|beautiful|cinematography|i...
569636,1,8360,4.0,1147868682,animation|cartoon|comedy|computer animation|cr...
590201,1,8786,4.0,1147877853,black and white|bleak|criterion|downbeat|enigm...
594961,1,8973,4.0,1147869211,almodovar|child abuse|complex|drama|enigmatic|...
597327,1,27266,4.5,1147879365,androids|art house|cinematography|enigmatic|ho...
600966,1,32591,5.0,1147879538,character study|complex|criterion|family drama...

In [42]:
def find_most_watched_tags(all_tags,N=3):
    tag_counts={}
    tag_list=all_tags.split("|")
    for tag in tag_list:
        try:
            tag_counts[tag]+=1
        except KeyError:
            tag_counts[tag]=1
    tag_counts=dict(sorted(tag_counts.items(),key=lambda x:x[1], reverse=True))
    tags_list=list(tag_counts.keys())
    tags_list=tags_list[:min(len(tags_list),N)]
    return "|".join(tags_list)

In [43]:
find_most_watched_tags("bloody|crime gone awry|dark humor|gangsters|bloody|crime gone awry|dark humor|gangsters|bloody|crime gone awry|dark humor|")

'bloody|crime gone awry|dark humor'

In [48]:
from tqdm import tqdm

In [51]:
users=UID_extra.userId.unique()

user_metadata=[]
for u in tqdm(users):
    positive_watch_history=UID_extra[(UID_extra["userId"]==u)&(UID_extra["rating"]>=4.5)]
    user_tags=np.array(positive_watch_history["tag"])
    user_tags_all="|".join(user_tags)
    most_watched_tags=find_most_watched_tags(user_tags_all)
    user_metadata.append([u,most_watched_tags])

100%|██████████| 162540/162540 [12:15:50<00:00,  3.68it/s]

In [52]:
user_metadata=pd.DataFrame(user_metadata,columns=["userId","user_tags"])

In [53]:
user_metadata.to_csv("../data/user_metadata.csv",index=False)

In [32]:
UID_extra.userId.value_counts()

72315     10988
80974      7036
20055      6940
33844      6340
92046      5925
          ...
16557        11
84947        10
10861         6
144931        6
122860        5
Name: userId, Length: 162540, dtype: int64