In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
interaction=pd.read_csv("../data/ratings.csv")
content=pd.read_csv("../data/movies.csv")
tag_scores=pd.read_csv("../data/genome-scores.csv")

In [3]:
tag_scores

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [4]:
tags=pd.read_csv("../data/genome-tags.csv")

In [5]:
tag_scores=tag_scores.merge(tags)

In [6]:
tag_data=tag_scores.sort_values(by=["movieId","relevance"],ascending=False)

In [7]:
tag_data

          movieId  tagId  relevance              tag
10251471   206499    742    0.88600         original
10735031   206499    777    0.80825            pg-13
8331047    206499    603    0.76725            light
11812679   206499    855    0.75850        road trip
11066615   206499    801    0.74475      pornography
...           ...    ...        ...              ...
1630288         1    119    0.00375          beatles
13470600        1    976    0.00325    studio ghibli
6742208         1    489    0.00275  hannibal lecter
13829816        1   1002    0.00275          swedish
14755488        1   1069    0.00275         vampires

[15584448 rows x 4 columns]

In [14]:
top_tags=tag_data.groupby("movieId").head(16)

In [26]:
movies=top_tags.movieId.unique()
d=[]
for i in movies:
    tags_for_movie=sorted(top_tags[top_tags["movieId"]==i]["tag"].unique())
    movie_tag="|".join(tags_for_movie)
    d.append([i,movie_tag])

In [28]:
movie_metadata=pd.DataFrame(d,columns=["movieId","tag"])

In [30]:
content.merge(movie_metadata).to_csv("../data/movie_metadata.csv",index=False)

In [8]:
content

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [9]:
/*-

SyntaxError: can't use starred expression here (3310497289.py, line 1)

In [ ]:
# treat null values
content['genres'].fillna('NA', inplace = True)

# separate all genres into one list, considering comma + space as separators
genre = content['genres'].str.split('|').tolist()

# flatten the list
flat_genre = [item for sublist in genre for item in sublist]

# convert to a set to make unique
set_genre = set(flat_genre)

# back to list
unique_genre = list(set_genre)
unique_genre

['Fantasy',
 'Thriller',
 'War',
 'Documentary',
 'Adventure',
 '(no genres listed)',
 'Film-Noir',
 'Musical',
 'Mystery',
 'Drama',
 'Action',
 'Children',
 'Comedy',
 'Sci-Fi',
 'Western',
 'IMAX',
 'Animation',
 'Horror',
 'Crime',
 'Romance']

In [ ]:
# remove NA
unique_genre.remove('(no genres listed)')

# create columns by each unique genre
content = content.reindex(content.columns.tolist() + unique_genre, axis=1, fill_value=0)

# for each value inside genres, update the dummy
for index, row in content.iterrows():
    for val in row.genres.split('|'):
        if val != '(no genres listed)':
            content.loc[index, val] = 1

content.drop('genres', axis = 1, inplace = True)    
content

,movieId,title,Fantasy,Thriller,War,Documentary,Adventure,Film-Noir,Musical,Mystery,...,Action,Children,Comedy,Sci-Fi,Western,IMAX,Animation,Horror,Crime,Romance
0,1,Toy Story (1995),1,0,0,0,1,0,0,0,...,0,1,1,0,0,0,1,0,0,0
1,2,Jumanji (1995),1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,4,Waiting to Exhale (1995),0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,5,Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,We (2018),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62419,209159,Window of the Soul (2001),0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62420,209163,Bad Poems (2018),0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
62421,209169,A Girl Thing (2001),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62422,209171,Women of Devil's Island (1962),0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0