# Dataset Creation Notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
interaction=pd.read_csv("../data/ratings.csv")
movie_metadata = pd.read_csv("../data/movie_metadata.csv")
user_metadata = pd.read_csv("../data/user_metadata.csv")

In [3]:
interaction

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [4]:
user_metadata

,userId,user_tags,user_tag_length
0,3,sci-fi|classic|original|mentor|catastrophe|gre...,7
1,4,tense|so bad it's good|artificial intelligence...,7
2,19,Hayao Miyazaki|adventure|ecology|Miyazaki|anim...,7
3,20,bah|original|mentor|catastrophe|great ending|s...,6
4,68,music|original|mentor|catastrophe|great ending...,6
...,...,...,...
10820,162467,crown|bob|banana,3
10821,162492,classic sci-fi|EPIC|original|mentor|catastroph...,7
10822,162501,crazy wife|crime|the wife did it,3
10823,162512,the book was better|original|mentor|catastroph...,6
10824,162521,Nathan Fillion|cornetto triolgy|cornetto trilo...,4

In [5]:
user_metadata.rename(columns={"tag":"user_tags"},inplace=True)

In [6]:
movie_metadata.rename(columns={"tag":"movie_tags"},inplace=True)

In [7]:
final_dataset = interaction.merge(movie_metadata,how="left",on="movieId")

In [8]:
final_dataset = final_dataset.merge(user_metadata,on="userId")

In [9]:
final_dataset.userId.nunique()

10825

In [10]:
user_metadata.userId.nunique()

10825

In [11]:
final_dataset[["user_tags","movie_tags","rating"]].to_csv("../data/Master_dataset.csv")