In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tag_scores=pd.read_csv("../data/genome-scores.csv")

In [3]:
most_relevant_tags = tag_scores.groupby("tagId").sum().sort_values("relevance",ascending=False).head(5)

In [4]:
tag_metadata = pd.read_csv("../data/genome-tags.csv")

In [5]:
tag_metadata

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [6]:
most_relevant_tags

         movieId    relevance
tagId
742    635846684  10008.64400
646    635846684   7482.43975
188    635846684   6586.79875
468    635846684   6568.13100
972    635846684   6220.35175

In [7]:
most_relevant_tags = most_relevant_tags.merge(tag_metadata,how="left",left_index=True, right_on="tagId")

In [8]:
most_relevant_tags.to_csv("../data/most_relevant_tags.csv", index=False)